.footer {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .footer-container {
    width: 100%;
    background-color: #ebcf9b;

    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 0;
 }

 .footer p {
    padding: 5px
 }