<!DOCTYPE html>
<html lang="kor">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<!-- https://ko.javascript.info/script-async-defer -->
<script defer src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script defer src="join.js" type="module"></script>
<link type="text/css" rel="stylesheet" href="join.css">
</head>
<body>
<div class="join-wrapper">
    <form class="join-form" method="post">
        <a href="/src/views/main/main.html"><img src="/public/img/WMlogo.png" alt="로고 이미지"></a>
        <div class="join-name">아이디</div>
        <input id="user-id" name="user-id" class="join-text" type="text">
        <div id="id-error" name="id-error" class="id-error">4~12자 이내의 영문 혹은 영문과 숫자를 조합</div>
        <div class="join-name">비밀번호</div>
        <input id="user-pw" name="user-pw" class="join-text" type="password">
        <div id="pw-error" name="pw-error" class="pw-error">8~20자 이내의 영문+숫자+특수문자 조합</div>
        <div class="join-name">비밀번호 확인</div>
        <input id="user-pw-cfm" name="user-pw-cfm" class="join-text" type="password">
        <div id="pw-cfm-error" name="pw-cfm-error" class="pw-cfm-error"></div>
        <div class="join-name">이름</div>
        <input id="user-name" name="user-name" class="join-text" type="text">
        <div id="name-error" name="name-error" class="name-error"></div>
        <div class="join-name">생년월일</div>
        <div class="join-birth">
            <input id="user-yy" name="user-yy" class="join-birth-input" type="number" placeholder="년(4자)">
            <select id="user-mm" name="user-mm" class="join-birth-input">
                <option value="">월</option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <input id="user-dd" name="user-dd" class="join-birth-input" type="number" placeholder="일">
        </div>
        <div id="year-error" name="year-error" class="year-error"></div>
        <div id="day-error" name="day-error" class="day-error"></div>
        <div class="join-name">주소</div>
        <div class="join-post">
            <input id="user-post" name="user-post" class="join-post-input" type="text" placeholder="우편번호" readonly>
            <button id="post-search-btn" class="join-post-input" type="button" onclick="findAddr()">주소 검색</button>
        </div>
        <div class="join-addr">
            <input id="user-addr" name="user-addr" class="join-addr-input" type="text" placeholder="기본 주소" readonly>
            <input id="user-detail-addr" name="user-detail-addr" class="join-addr-input" type="text" placeholder="상세 주소">
            <div id="addr-error" name="addr-error" class="addr-error"></div>
        </div>
        <div class="join-name">휴대전화</div>
        <input id="user-phone" name="user-phone" class="join-text" type="text" placeholder="숫자만 입력해주세요">
        <div id="phone-error" name="phone-error" class="phone-error"></div>
        <button id="submit-btn" class="join-btn"type="button">회원가입</button>
    </form>
</div>
<footer></footer>
</body>
</html>
