@import "/public/css/main.css";

* {
    margin: 0;
    padding: 0;
}

.join-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 350px);
    overflow-y: scroll;
    margin: 50px 0px;
}

.join-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:280px;
    margin-top:10px;
}

.join-name{
    width: 100%;
    color:#8E8E8E;
    text-align: left;
    margin-top:10px;
}

.join-text{
    text-indent: 10px;
    width:100%;
    height:40px;
    margin: 3px 0 3px 0 ;
    background-color:#FAF4de;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.join-text:focus{
    outline: 1px solid #a8a8a8;
}

.join-birth {
    display:flex;
    flex-direction: row;
    width:100%;
    margin: 3px 0 3px 0 ;
}

.join-birth-input {
    width: 80px;
    height:40px;
    padding: 0 10px 0 10px;
    background-color: #FAF4de;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-right: 10px;
}

.join-post {
    display:flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 3px 0 3px 0 ;
}

.join-post-input {
    text-indent: 10px;
    width: 100px;
    height: 40px;
    background-color: #FAF4de;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-right: 10px;
}

.join-addr {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
}
.join-addr-input {
    text-indent: 10px;
    width: 100%;
    height: 40px;
    background-color:#FAF4de;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 10px;
}

#post-search-btn {
    text-indent: 0px;
    color:white;
    background-color: #f6c74b;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.join-btn{
    width:100%;
    height:33px;
    margin: 10px 0 5px 0;
    color:white;
    background-color: #f6c74b;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.id-error {
    width:100%;
    color:#8E8E8E;
    text-align: left;
    font-size: 12px;
}

.pw-error {
    width:100%;
    color:#8E8E8E;
    text-align: left;
    font-size: 12px;
}

.pw-cfm-error {
    width:100%;
    text-align: left;
    font-size: 12px;
}

.name-error {
    width:100%;
    text-align: left;
    font-size: 12px;
}

.addr-error {
    width:100%;
    text-align: left;
    font-size: 12px;
}

.phone-error {
    width:100%;
    text-align: left;
    font-size: 12px;
}

