<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Cute+Font&family=Do+Hyeon&family=Dokdo&family=East+Sea+Dokdo&family=Gaegu&family=Gamja+Flower&family=Gothic+A1&family=Gugi&family=Hi+Melody&family=Jua&family=Kirang+Haerang&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Noto+Sans+KR&family=Noto+Serif+KR&family=Poor+Story&family=Single+Day&family=Song+Myung&family=Stylish&family=Sunflower:wght@300&family=Yeon+Sung&display=swap" rel="stylesheet">
	<!-- 공용 폰트 -->
	<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
	<!-- My CSS -->
	<link rel="stylesheet" href="admin.css">
	<!-- bulma css -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />


	<title>AdminPage</title>
</head>
<body>
	<!-- 사이드바 -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-fridge'></i>
			<span class="text">AdminPage</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#" onclick="changeMain('home')">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">요약</span>
				</a>
			</li>
			<li>
				<a href="#" onclick="changeMain('order')">
					<i class='bx bxs-cart-download' ></i>
					<span class="text">주문 내역</span>
				</a>
			</li>
			<li>
				<a href="#" onclick="changeMain('product-manage')">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">상품 관리</span>
				</a>
			</li>
			<li>
				<a href="#" onclick="changeMain('country-category-manage')">
					<i class='bx bxs-plane-alt' ></i>
					<span class="text">국가별 카테고리 관리</span>
				</a>
			</li>
			<li>
				<a href="#" onclick="changeMain('type-category-manage')">
					<i class='bx bxs-category-alt' ></i>
					<span class="text">종류별 카테고리 관리</span>
				</a>
			</li>
			<li>
				<a href="#" onclick="changeMain('user-manage')">
					<i class='bx bxs-group' ></i>
					<span class="text">회원 관리</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">로그아웃</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- 사이드바 -->



	<!-- 컨텐츠 -->
	<section id="content">
		<!-- 내비게이션바 -->
		<nav>
			<i class='bx bx-menu'></i>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
		</nav>
		<!-- 내비게이션바 -->

		<!-- 메인 -->
		<main>
			<!-- 홈 -->
			<div id="home" class="page">
				<div class="head-title">
					<div class="left">
						<h1>Home</h1>
					</div>
				</div>

				<ul class="box-info">
					<li>
						<i class='bx bxs-calendar-check' ></i>
						<span class="text">
							<h3>529</h3>
							<p>오늘의 주문량</p>
						</span>
					</li>
					<li>
						<i class='bx bxs-group' ></i>
						<span class="text">
							<h3>2173</h3>
							<p>오늘의 방문자수</p>
						</span>
					</li>
					<li>
						<i class='bx bxs-dollar-circle' ></i>
						<span class="text">
							<h3>₩ 3,351,750</h3>
							<p>오늘의 매출</p>
						</span>
					</li>
				</ul>


				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>최근 주문 현황</h3>
						</div>
						<table>
							<thead>
								<tr>
									<th>주문일자</th>
									<th>주문자</th>
									<th>주문 상품</th>
									<th>주문 총액</th>
									<th>주문 상태</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 홈 -->


			<!-- 주문 내역 -->
			<div id="order" class="page" style="display: none;">
				<div class="head-title">
					<div class="left">
						<h1>주문 내역</h1>
					</div>
				</div>
				<div class="table-data">
					<div class="order">
						<table>
							<thead>
								<tr>
									<th>주문일자</th>
									<th>주문자</th>
									<th>주문 상품</th>
									<th>주문 총액</th>
									<th>주문 상태</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 주문 내역 -->

			<!-- 상품 관리 -->
			<div id="product-manage" class="page" style="display: none;">
				<div class="head-title">
					<div class="left">
						<h1>상품 관리</h1>
					</div>
				</div>
				<div class="table-data">
					<div class="order">
						<div class="head">
							<h6>                                                     </h6>
							<button type="button" class="add" id="add-product-btn">상품 추가</button>



							<!-- 상품 추가 모달 -->
							<div class="modal" id="addProductModal">
								<div class="modal-background"></div>
								<div class="modal-content">
								<!-- 상품 추가 폼 -->
								<section class="section">
									<div class="container">
										<button class="delete is-medium" id="close"></button>
									<div class="register-product-form-container">
										<form class="box register-product-form-box" id="registerProductForm">
										<p class="title is-5 has-text-primary">상품을 등록하세요.</p>
										<div class="field">
											<label class="label" for="titleInput" id="title">상품 이름</label>
											<div class="control">
											<input
												class="input"
												id="titleInput"
												type="text"
												placeholder="사프란"
												autocomplete="on"
											/>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="categorySelectBox" id="nation">국가별 카테고리</label>
											<div class="control">
											<div class="select is-fullwidth">
												<select id="categorySelectBox">
												<option value="">국가를 선택해 주세요.</option>
												</select>
											</div>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="categorySelectBox" id="category">종류별 카테고리</label>
											<div class="control">
											<div class="select is-fullwidth">
												<select id="categorySelectBox">
												<option value="">종류를 선택해 주세요.</option>
												</select>
											</div>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="detailDescriptionInput"
											>상세 설명</label
											>
											<div class="control">
											<textarea
												class="textarea"
												id="detailDescriptionInput"
												rows="8"
												placeholder="상품에 대한 상세 설명을 적어 주세요."
												autocomplete="on"
											></textarea>
											</div>
										</div>
							
										<div class="field is-fullwidth">
											<label class="label" for="imageInput">상품 사진</label>
											<div class="file has-name is-fullwidth">
											<label class="file-label">
												<input
												class="file-input"
												id="imageInput"
												type="file"
												name="image-file"
												accept=".png, .jpeg, .jpg"
												/>
												<span class="file-cta">
												<span class="file-icon">
													<i class="fas fa-upload"></i>
												</span>
												<span class="file-label"> 사진 업로드 </span>
												</span>
												<span class="file-name" id="fileNameSpan">
												사진파일 (png, jpg, jpeg)
												</span>
											</label>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="inventoryInput">재고 수</label>
											<div class="control">
											<input
												class="input"
												id="inventoryInput"
												type="number"
												placeholder="10"
												autocomplete="on"
											/>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="priceInput" id="price">가격</label>
											<div class="field">
											<div class="control has-icons-right">
												<input
												class="input"
												id="priceInput"
												type="number"
												placeholder="10000"
												autocomplete="on"
												/>
												<span class="icon is-small is-right"> 원 </span>
											</div>
											</div>
										</div>
							
							
										<div
											class="field is-grouped is-grouped-multiline mt-3"
											id="keywordContainer"
										></div>
							
										<div class="mt-5">
											<button class="button is-primary is-fullwidth" id="submitButton">
											상품 등록하기
											</button>
										</div>
										</form>
									</div>
									</div>
								</section>
								</div>
								<button class="modal-close is-large" aria-label="close"></button>
							</div>
							<!-- 상품 추가 모달 -->



							<!-- 상품 수정 모달 -->
							<div class="modal" id="modifyProductModal">
								<div class="modal-background"></div>
								<div class="modal-content">
								<!-- 상품 추가 폼 -->
								<section class="section">
									<div class="container">
										<button class="delete is-medium" id="close"></button>
									<div class="register-product-form-container">
										<form class="box register-product-form-box" id="registerProductForm">
										<p class="title is-5 has-text-primary">상품을 수정하세요.</p>
										<div class="field">
											<label class="label" for="titleInput">상품 이름</label>
											<div class="control">
											<input
												class="input"
												id="titleInput"
												type="text"
												placeholder="사프란"
												autocomplete="on"
											/>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="categorySelectBox">국가별 카테고리</label>
											<div class="control">
											<div class="select is-fullwidth">
												<select id="categorySelectBox">
												<option value="">국가를 선택해 주세요.</option>
												</select>
											</div>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="categorySelectBox">종류별 카테고리</label>
											<div class="control">
											<div class="select is-fullwidth">
												<select id="categorySelectBox">
												<option value="">종류를 선택해 주세요.</option>
												</select>
											</div>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="detailDescriptionInput"
											>상세 설명</label
											>
											<div class="control">
											<textarea
												class="textarea"
												id="detailDescriptionInput"
												rows="8"
												placeholder="상품에 대한 상세 설명을 적어 주세요."
												autocomplete="on"
											></textarea>
											</div>
										</div>
							
										<div class="field is-fullwidth">
											<label class="label" for="imageInput">상품 사진</label>
											<div class="file has-name is-fullwidth">
											<label class="file-label">
												<input
												class="file-input"
												id="imageInput"
												type="file"
												name="image-file"
												accept=".png, .jpeg, .jpg"
												/>
												<span class="file-cta">
												<span class="file-icon">
													<i class="fas fa-upload"></i>
												</span>
												<span class="file-label"> 사진 업로드 </span>
												</span>
												<span class="file-name" id="fileNameSpan">
												사진파일 (png, jpg, jpeg)
												</span>
											</label>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="inventoryInput">재고 수</label>
											<div class="control">
											<input
												class="input"
												id="inventoryInput"
												type="number"
												placeholder="10"
												autocomplete="on"
											/>
											</div>
										</div>
							
										<div class="field">
											<label class="label" for="priceInput">가격</label>
											<div class="field">
											<div class="control has-icons-right">
												<input
												class="input"
												id="priceInput"
												type="number"
												placeholder="10000"
												autocomplete="on"
												/>
												<span class="icon is-small is-right"> 원 </span>
											</div>
											</div>
										</div>
							
							
										<div
											class="field is-grouped is-grouped-multiline mt-3"
											id="keywordContainer"
										></div>
							
										<div class="mt-5">
											<button class="button is-primary is-fullwidth" id="submitButton">
											상품 수정하기
											</button>
										</div>
										</form>
									</div>
									</div>
								</section>
								</div>
								<button class="modal-close is-large" aria-label="close"></button>
							</div>
							<!-- 상품 수정 모달(Modal) -->




							





						</div>
						<table>
							<thead>
								<tr>
									<th>등록일</th>
									<th>상품명</th>
									<th>국가</th>
									<th>카테고리</th>
									<th>가격</th>
									<th>재고량</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2023-04-18</td>
									<td>사프란 1g</td>
									<td>이란</td>
									<td>향신료</td>
									<td>31,800원</td>
									<td>734</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-20</td>
									<td>본마망 마론크림(밤스프레드) 225g</td>
									<td>프랑스</td>
									<td>잼</td>
									<td>5,300원</td>
									<td>1245</td>
									<td><button type="button" class="modify" id="modify-product-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 상품 관리 -->


			<!-- 국가별 카테고리 관리 -->
			<div id="country-category-manage" class="page" style="display: none;">
				<div class="head-title">
					<div class="left">
						<h1>국가별 카테고리 관리</h1>
					</div>
				</div>
				<div class="table-data">
					<div class="order">
						<div class="head">
							<h6>                                                     </h6>
							<button type="button" class="add" id="add-country-btn">국가 추가</button>


							<!-- 국가 추가 모달 -->
							<div class="modal" id="addCountryModal">
								<div class="modal-background"></div>
								<div class="modal-content">
								<!-- 국가 추가 폼 -->
								<section class="section">
									<div class="container">
									<button class="delete is-medium" id="close"></button>
									<div class="register-category-form-container">
										<form class="box register-category-form-box" id="registerCategoryForm">
										<p class="title is-5 has-text-primary">국가 카테고리를 추가하세요.</p>
										<div class="field">
											<label class="label" for="titleInput">국가명</label>
											<div class="control">
											<input class="input" id="titleInput" type="text" placeholder="멕시코" autocomplete="on" />
											</div>
										</div>
										<div class="field is-fullwidth mb-5">
											<label class="label" for="imageInput">국기 사진</label>
											<div class="file has-name is-fullwidth">
											<label class="file-label">
												<input class="file-input" id="imageInput" type="file" name="image-file" accept=".png, .jpeg, .jpg" />
												<span class="file-cta">
												<span class="file-icon"><i class="fas fa-upload"></i></span>
												<span class="file-label"> 사진 업로드 </span>
												</span>
												<span class="file-name" id="fileNameSpan">사진파일 (png, jpg, jpeg)</span>
											</label>
											</div>
										</div>
										<button class="button is-primary is-fullwidth" id="addCategoryButton">카테고리 추가하기</button>
										</form>
									</div>
									</div>
								</section>
								</div>
								<button class="modal-close is-large" aria-label="close"></button>
							</div>
							<!-- 국가 추가 모달 -->


							<!-- 국가 수정 모달 -->
							<div class="modal" id="modifyCountryModal">
								<div class="modal-background"></div>
								<div class="modal-content">
								<!-- 국가 수정 폼 -->
								<section class="section">
									<div class="container">
									<button class="delete is-medium" id="close"></button>
									<div class="register-category-form-container">
										<form class="box register-category-form-box" id="registerCategoryForm">
										<p class="title is-5 has-text-primary">국가 카테고리를 수정하세요.</p>
										<div class="field">
											<label class="label" for="titleInput">국가명</label>
											<div class="control">
											<input class="input" id="titleInput" type="text" placeholder="멕시코" autocomplete="on" />
											</div>
										</div>
										<div class="field is-fullwidth mb-5">
											<label class="label" for="imageInput">국기 사진</label>
											<div class="file has-name is-fullwidth">
											<label class="file-label">
												<input class="file-input" id="imageInput" type="file" name="image-file" accept=".png, .jpeg, .jpg" />
												<span class="file-cta">
												<span class="file-icon"><i class="fas fa-upload"></i></span>
												<span class="file-label"> 사진 업로드 </span>
												</span>
												<span class="file-name" id="fileNameSpan">사진파일 (png, jpg, jpeg)</span>
											</label>
											</div>
										</div>
										<button class="button is-primary is-fullwidth" id="addCategoryButton">카테고리 수정하기</button>
										</form>
									</div>
									</div>
								</section>
								</div>
								<button class="modal-close is-large" aria-label="close"></button>
							</div>
							<!-- 국가 수정 모달 -->


						</div>
						<table>
							<thead>
								<tr>
									<th>등록일자</th>
									<th>수정일자</th>
									<th>카테고리명</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>멕시코</td>
									<td><button type="button" class="modify" id="modify-country-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>프랑스</td>
									<td><button type="button" class="modify" id="modify-country-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>이탈리아</td>
									<td><button type="button" class="modify" id="modify-country-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>일본</td>
									<td><button type="button" class="modify" id="modify-country-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>중국</td>
									<td><button type="button" class="modify" id="modify-country-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>인도</td>
									<td><button type="button" class="modify" id="modify-country-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>스페인</td>
									<td><button type="button" class="modify" id="modify-country-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 국가별 카테고리 관리 -->

			<!-- 종류별 카테고리 관리 -->
			<div id="type-category-manage" class="page" style="display: none;">
				<div class="head-title">
					<div class="left">
						<h1>종류별 카테고리 관리</h1>
					</div>
				</div>
				<div class="table-data">
					<div class="order">
						<div class="head">
							<h6>                                                     </h6>
							<button type="button" class="add" id="add-category-btn">종류 추가</button>


							<!-- 카테고리 추가 모달 -->
							<div class="modal" id="addCategoryModal">
								<div class="modal-background"></div>
								<div class="modal-content">
								<!-- 카테고리 추가 폼 -->
								<section class="section">
									<div class="container">
										<button class="delete is-medium" id="close"></button>
									<div class="register-category-form-container">
										<form class="box register-category-form-box" id="registerCategoryForm">
										<p class="title is-5 has-text-primary">종류 카테고리를 추가하세요.</p>
										<div class="field">
											<label class="label" for="titleInput">카테고리명</label>
											<div class="control">
												<input class="input" id="titleInput" type="text" placeholder="시즈닝" autocomplete="on" />
											</div>
										</div>
										<button class="button is-primary is-fullwidth" id="addCategoryButton">카테고리 추가하기</button>
										</form>
									</div>
									</div>
								</section>
								</div>
								<button class="modal-close is-large" aria-label="close"></button>
							</div>
							<!-- 카테고리 추가 모달 -->



							<!-- 카테고리 수정 모달 -->
							<div class="modal" id="modifyCategoryModal">
								<div class="modal-background"></div>
								<div class="modal-content">
								<!-- 카테고리 추가 폼 -->
								<section class="section">
									<div class="container">
										<button class="delete is-medium" id="close"></button>
									<div class="register-category-form-container">
										<form class="box register-category-form-box" id="registerCategoryForm">
										<p class="title is-5 has-text-primary">종류 카테고리를 수정하세요.</p>
										<div class="field">
											<label class="label" for="titleInput">카테고리명</label>
											<div class="control">
												<input class="input" id="titleInput" type="text" placeholder="시즈닝" autocomplete="on" />
											</div>
										</div>
										<button class="button is-primary is-fullwidth" id="addCategoryButton">카테고리 수정하기</button>
										</form>
									</div>
									</div>
								</section>
								</div>
								<button class="modal-close is-large" aria-label="close"></button>
							</div>
							<!-- 카테고리 수정 모달 -->


						</div>
						<table>
							<thead>
								<tr>
									<th>등록일자</th>
									<th>수정일자</th>
									<th>카테고리명</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>시즈닝</td>
									<td><button type="button" class="modify" id="modify-category-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>허브</td>
									<td><button type="button" class="modify" id="modify-category-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>소스</td>
									<td><button type="button" class="modify" id="modify-category-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>스파이스</td>
									<td><button type="button" class="modify" id="modify-category-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>오일</td>
									<td><button type="button" class="modify" id="modify-category-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
								<tr>
									<td>2023-04-18</td>
									<td>2023-04-20</td>
									<td>솔트</td>
									<td><button type="button" class="modify" id="modify-category-btn">수정하기</button></td>
									<td><button type="button" class="delete">삭제하기</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 종류별 카테고리 관리 -->

			<!-- 회원 관리 -->
			<div id="user-manage" class="page" style="display: none;">
				<div class="head-title">
					<div class="left">
						<h1>회원 관리</h1>
					</div>
				</div>
				<div class="table-data">
					<div class="order">
						<table>
							<thead>
								<tr>
									<th>가입일자</th>
									<th>성명</th>
									<th>아이디</th>
									<th>휴대폰 번호</th>
									<th>주소</th>
									<th>권한</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- 회원 관리 -->
		</main>
		<!-- 메인 -->
	</section>
	<!-- 컨텐츠 -->


	<!-- My JS -->
	<script src="admin.js"></script>
	<script src="home.js"></script>
	<script src="order.js"></script>
	<script src="product.js"></script>
	<script src="country.js"></script>
	<script src="category.js"></script>
	<script src="member.js"></script>
</body>
</html>