<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorldMarket</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js" type="module"></script>

    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">

</head>

<body>
    <div class="all-wrap">
    <!-- 상단바 공용에서 만들어서 씀-->
    <!-- <div class="navbar-container">
        <nav class="navbar">
            <div class="navbar-logo-container">
                <a href="/main"><img src="/public/img/WMlogo.png" alt="nav-logo" class="navbar-logo"></a>
            </div>
            <ul calss="navbar-nav">
                <li class="navbar-content">
                    <img src="/public/img/WMlogin.png" alt="login-icon" class="navbar-icon">
                    <a href="/user/login" class="navbar-text">로그인</a>
                </li>
            </ul>
        </nav>
    </div> -->

    <!-- 캐러셀 -->
    <div class="carousel-container">
        <div class="carousel">
            <ul class="carousel-imgs">
                <li class="carousel-img"><img src="/public/img/WMbanner1.jpg" alt=""></li>
                <li class="carousel-img"><img src="/public/img/WMbanner2.jpg" alt=""></li>
                <li class="carousel-img"><img src="/public/img/WMbanner3.jpg" alt=""></li>
                <li class="carousel-img"><img src="/public/img/WMbanner4.jpg" alt=""></li>
                <li class="carousel-img"><img src="/public/img/WMbanner1.jpg" alt=""></li>
            </ul>
        </div>
        <!-- 시간남으면 인디케이터 구현
        <div class="carousel-indicators">
            <button class="carousel-button-clicked"></button>
            <button class="carousel-button"></button>
            <button class="carousel-button"></button>
            <button class="carousel-button"></button>
        </div> -->
        <button class="carousel-prev">
            <img src="/public/img/WMleft.png" alt="" class="prev-button">
        </button>
        <button class="carousel-next">
            <img src="/public/img/WMright.png" alt="" class="next-button">
        </button>
    </div>

    <!-- 메인컨텐츠 -->
    <div class="main-container">
        <div class="main-box">
            <div class="main-header-container">
                <div class="main-header-title">
                    <h3>세계 식료품</h3>
                    <h6>전세계의 식료품을 만나보세요!</h6>
                </div>
                <div class="main-header-category">
                    <button class="main-header-button-unclicked">국가별</button>
                    <button class="main-header-button-unclicked">종류별</button>
                </div>
            </div>
            <nav id="category" class="main-nav-unclicked">
                <ul class="main-nav-cetegory-unclicked" id="nations">
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked"><img src="/public/img/미국-icon.jpg" alt="" class="country-img">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked"><img src="/public/img/미국-icon.jpg" alt="" class="country-img">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked"><img src="/public/img/미국-icon.jpg" alt="" class="country-img">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked"><img src="/public/img/미국-icon.jpg" alt="" class="country-img">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked"><img src="/public/img/미국-icon.jpg" alt="" class="country-img">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked"><img src="/public/img/미국-icon.jpg" alt="" class="country-img">더미</p></li>
                </ul>
                <ul class="main-nav-cetegory-unclicked" id="categorys">
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked">더미</p></li>
                    <div class="main-nav-line"></div>
                    <li class="main-nav-list"><p  class="main-nav-content-unclicked">더미</p></li>
                </ul>
            </nav>
            <div class="main-item-container">
                <div class="item-grid">
                    <a href="/src/views/detail/detail.html" class="item-link">
                        <img src="/public/img/product-img/itemex01.jpg" alt="" class="item-img">
                        <div class="item-text">
                            <div class="item-title">예시 상품 제목입니다</div>
                            <div class="item-price">₩10,000</div>
                            <div class="item-category"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">스페인 | 향신료</div>
                        </div>
                    </a>
                </div>
                <!-- <div class="item-grid">
                    <a href="/src/views/detail/detail.html" class="item-link">
                        <img src="/public/img/product-img/itemex02.jpg" alt="" class="item-img">
                        <div class="item-text">
                            <div class="item-title">예시 상품 제목입니다</div>
                            <div class="item-price">₩20,000</div>
                            <div class="item-category"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">스페인</div>
                        </div>
                    </a>
                </div>
                <div class="item-grid">
                    <a href="" class="item-link">
                        <img src="/public/img/product-img/itemex03.jpg" alt="" class="item-img">
                        <div class="item-text">
                            <div class="item-title">예시 상품 제목입니다</div>
                            <div class="item-price">₩10,000</div>
                            <div class="item-category"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">스페인</div>
                        </div>
                    </a>
                </div>
                <div class="item-grid">
                    <a href="" class="item-link">
                        <img src="/public/img/product-img/itemex04.jpg" alt="" class="item-img">
                        <div class="item-text">
                            <div class="item-title">예시 상품 제목입니다</div>
                            <div class="item-price">₩10,000</div>
                            <div class="item-category"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">스페인</div>
                        </div>
                    </a>
                </div>
                <div class="item-grid">
                    <a href="" class="item-link">
                        <img src="/public/img/product-img/itemex05.jpg" alt="" class="item-img">
                        <div class="item-text">
                            <div class="item-title">예시 상품 제목입니다</div>
                            <div class="item-price">₩10,000</div>
                            <div class="item-category"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">스페인</div>
                        </div>
                    </a>
                </div>
                <div class="item-grid">
                    <a href="" class="item-link">
                        <img src="/public/img/product-img/itemex06.jpg" alt="" class="item-img">
                        <div class="item-text">
                            <div class="item-title">예시 상품 제목입니다</div>
                            <div class="item-price">₩10,000</div>
                            <div class="item-category"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">스페인</div>
                        </div>
                    </a>
                </div>
                <div class="item-grid">
                    <a href="" class="item-link">
                        <img src="/public/img/product-img/itemex07.jpg" alt="" class="item-img">
                        <div class="item-text">
                            <div class="item-title">예시 상품 제목입니다</div>
                            <div class="item-price">₩10,000</div>
                            <div class="item-category"><img src="/public/img/스페인-icon.jpg" alt="" class="country-img">스페인</div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </div>

    <!-- 하단바 공용에서 만들어서 씀-->
    <!-- <footer class="footer">
        <div class="footer-container">
            <p>2023 Team 부글부글 - 김문진 / 김승환 / 김예은 / 이수영 / 이종욱 / 임준영</p>
            <p>Copyright ⓒ 2023 - 부글부글. All rights reserved</p>
        </div>
    </footer> -->
    
    <footer></footer>
    </div> 
</body>

</html>