 <!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./order_style.css">
  <script defer src="./order_script.js"></script>
  <title>order page</title>
</head>
<body>
<header>
</header> 
 <main>

  <section class="cart__detail">
    <div id="cart__have__product">
    <div>
      <h3>주문정보</h3>
    </div>
    <!-- 붙여넣는 파트 -->
   <!-- <div class="cart__product__list" id='productItem__${product_id}'>
      <div class="list__img__block">
        <a href="#none"><img id="product__img__${product_id}" src="./image/art-4919768.gif" alt="상품이미지파일"></a>
      </div>
      <div class="list__name__block"> -->
        <!-- 상품정보 파트 -->
       <!--  <span class="product__name__text" id="product__name__${product_id}">${productName}</span>
      </div>
      <div class="list__info__block"> -->
        <!-- 수량 및 가격 -->
        <!-- <div class="product__quan">
          <span>수량:</span>
          <button class="btn__default minusbtn" id="minus__btn__${product_id}">-</button>
          <span id="quan__num__${product_id}">${quantity}</span>
          <button class="btn__default plusbtn" id="plus__btn__${product_id}">+</button>
        </div>
        <div class="product__price">
          <span>가격:</span>
          <span id="product__price__num__${product_id}">${price}</span>
        </div>
      </div>
    </div> -->
  </div>
    
          <!-- 요까지 -->

            <div class="total__price__block">
              <div class="blank"></div>
              <div class="order__price">
                <span>가격:</span>
                <span id="order__price__num"></span>  
              </div>
                
              <div id="deli__price">
                <span>배송비:</span>
                <span id="deli__price__num"> 2,500</span>
              </div>
              
              <div class="total__price">
                <span>총합:</span>
                <span id="total__price__num"></span>
              </div>
            </div>

        <section class="order-info-container">
          <div class="order-info-box">
  
              <h3 class="order-info-title">배송 정보</h3>
  
              <div class="order-info-list-box">
                  <div class="order-info-list">

                      <div class="order-info-box">
                          <label for="order-name" class="label">이름</label>
                          <input class="order-name" id="receiverName" type="text" placeholder="이름을 입력해 주세요." autocomplete="on">
                      </div>
                      
                      <div class="order-info-box">
                          <label for="order-phone-number" class="label">전화번호</label>
                          <input class="order-phone-number"  id="receiverPhoneNumber" type="text" placeholder="010-0000-0000" autocomplete="on">
                      </div>
                      
                      <div class="order-info-box">
                          <label for="order-adress" class="label">주소</label>
                          <input class="order-adress" id="address" type="text" placeholder="주소를 입력해 주세요." autocomplete="on">
                      </div>
                  </div>

              </div>
              <div class="order-btn" id="order__btn">
                <button>주문하기</button>
              </div>
          </div>
      </section>
  </section>
  
 </main>
</body>
</html>