a{
  text-decoration: none;
  color: #000;
}
.display__none{
  display: none;
}

.btn__default{
  border-radius: 0;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

html, body{
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body> header{
  height: 100px;
  background-color: bisque;
}
main{
  margin: 0 5%;
}
footer{
  height: 100%;
  background-color: lightgrey;
}
.cart__header{
  margin: 35px 0 0 0;
  height: 100%;
  font-size: 30pt;
  text-align: center;
  border-bottom: solid 2px #000;
}




.cart__detail{
  margin: 0 10%;
  height: 100%;
}
.cart__product__list{
  height:100px; 
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* background-color: #E94E33; */
}
.list__img__block{
  width: 20%;
}
.list__img__block > a> img{
  margin-left: 10px;
  width: 80px;
  object-fit: scale-down;
}
.list__name__block{
  width: 45%;
  display: flex;
  flex-direction: column;
}
.product__name__text{
  font-size: 15pt;
  margin-bottom: 60px;
}
.list__info__block{
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-top: 5px;

}
.product__quan{
  margin-bottom: 30px;
}
.minusbtn , .plusbtn{
  font-size: 15pt;
}

.list__total{
  border-top: solid 2px #000;
  display: flex;
  flex-direction: row;
}
.total__price__block{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.order__price{
  margin-bottom: 10px;
}
.total__price__text{
  font-size: 15pt;
  margin: 10px 0;
}