/* 상단바 */

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 10px 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 170px;
}

.navbar-logo-container {
    width: 170px;
    height: auto;
}

.navbar-logo {
    width: 100%;
    height: auto;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar-content {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-icon {
    display: inline-block;
    width: 30px;
    margin-left: 20px;
}

.navbar-text {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #444444;
    padding-left: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar-text:hover {
    color: #e94e33;
}