<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WorldMarket</title>
        <link rel="stylesheet" href="detail.css">
        <script src="detail.js" type="module"></script>

        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&amp;display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- 상단 헤더 -->
        <header>
            <div class="header-logo">
                <div class="navbar-logo-container">
                    <img src="./image/logo.png" alt="logo" class="navbar-logo-image" href="/">
                </div>
            </div>

            <!-- 메뉴 네비게이션 -->
            <nav class="navbar">
                <ul class="nav-selection">
                    <li class="nav-content"><div class="nav-content-link">국가별</div></li>
                    <li class="nav-content"><div class="nav-content-link">종류별</div></li>
                </ul>
                
                <ul class="nav-country">
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">미국</a></li>
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">스페인</a></li>
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">프랑스</a></li>
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">이탈리아</a></li>
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">태국</a></li>
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">베트남</a></li>
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">일본</a></li>
                    <li class="nav-country-category"><img src="./image/korea-icon.png" alt="country-icon" class="country-icon"><a href="" class="country-name">중국</a></li>
                </ul>
            </nav>
        </header>

        <!-- 메인 컨텐츠 -->
        <main class="main-container">
            <div class="border-line"></div>

            <div class="main-left">
                <div class="product-container">
                    <img src="./image/제품 예시.jpg" alt="제품 예시" class="product-img">
                </div>
            </div>

            <div class="main-right">
                <div class="product-information">
                    <div class="product-name">제품 이름</div>
                    <div class="product-explanation">제품 설명입니다. 제품 설명입니다. 제품 설명입니다. </div>
                    <div class="product-price">10,000원</div>
                </div>
                <div class="product-amount">
                    <button class="button-minus">-</button>
                    <div class="button-amount">1</div>
                    <button class="button-plus">+</button>
                    <div class="product-amount-price">10000원</div>
                </div>
                <div class="product-decision-container">
                    <button class="product-basket">
                        장바구니
                    </button>
                    <button class="product-purchase">
                        구매하기
                    </button>
                </div>
            </div>
        </main>
    </body>
</html>
