@import "/public/css/main.css";

* {
  margin: 0;
  padding: 0;  
}

/* 메인 */
  
  /* border line*/
  .border-line-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .border-line {
    width: 100%;
    height: 1px;
    background-color: #f6c74b;
  }
  
  .deliveryfee-info {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  /* main */
  .main-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px ;
    box-sizing: border-box;
    padding-bottom: 50px;
  }
  
  .sub-container {
    width: 70%;
    height: 100%;
    display: flex;
    margin-top: 40px;
  }
  
  .product-sub-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-right: 40px;
  }

  .product-main-container {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .product-text-container {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .product-img {
    width: 100%;
    height: 100%;
  }

  .product-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .product-desc {
    margin-bottom: 20px;
    font-size: 17px;
  }
  
  .product-price {
    font-size: 25px;
    font-weight: bold;
  }

  .product-price-sum {
    color: #777777;
    font-size: 16px;
    width: 100%;
    text-align: right;
  }
  .product-price-sum p {
    display: inline;
  }
  .ordered-price {
    font-size: 40px;
    font-weight: 900;
    color: #e94e33;
    margin-left: 20px;
  }

  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .amount-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
  }

  .amount-button-container {
    display: flex;
    align-items: center;
  }
  
  .product-amount {
    width: 50px;
    text-align: center;
    font-weight: bold;
  }

  .button-plus,
  .button-minus {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button-plus:hover,
  .button-minus:hover,
  .button-cart .button-purchase:hover {
    opacity: 0.6;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .button-sub-container {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .order-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
  }

  .button-cart {
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-decoration: none;
    border: #777777 solid 1px;
    border-radius: 0.3cm;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
    font-weight: 600;
  }
  .button-purchase {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-decoration: none;
    border: #d6b474 solid 1px;
    border-radius: 0.3cm;
    background-color: #e94e33;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  /*footer*/
  
  /*display:none*/
  /* .hidden {
    display: none;
  }
  
  @media (max-width: 1100px) {
    .like__button {
      height: 50px;
      margin-top: 60px;
    }
  }
  
  @media (max-width: 800px) {
    #main__container {
      margin-top: 150px;
    }
    .sub__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 200px;
    }
  
    .product__sub__container {
      width: 100%;
    }
  
    .product__main__container {
      width: 100%;
    }
  } */
  