* {
  margin: 0;
  padding: 0;  
}

body {
    height: 100vh;
}

/* @media (min-width: 320px) and (max-width: 800px) {
    .media {
        width: 300px;
        height: 300px;
    }
} */

/* 헤더-로고 */
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #FAF4DE;
}

.navbar-logo-container {
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 50px;
    width: 250px;
    height: 200px;
}

.navbar-logo-image {
    width: 250px;
    height: 250px;
}

/* 헤더-네비게이션 */
.navbar {
    display: flex;
    justify-content: center;
    position: relative; 

    width: 100%;
    height: 160px;
}

/* 헤더-네비게이션-분류선택 */
.nav-selection {
    display: flex;
    justify-content: center;

    width: 50%;
    height: 50%;
}

.nav-content {
    list-style: none;
    margin: 40px 20px;
}

.nav-content-link {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #f6c74b;
    border-radius: 10px;
    padding: 5px 10px;

    font-size: 17px;
    font-weight: 600;
    color: #f6c74b;
}

/* 헤더-네비게이션-국가별 */
.nav-country {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;
    bottom: 8px;

    width: 70%;
}

.nav-country-category {
    display: list-item;
    list-style: none;
    width: 100%;
    height: 30px;
}

.country-icon {
    margin-right: 7px;
    width: 20px;
    height: 17px;
}

.country-name {
    text-decoration: none;
    font-size: 17px;
}

/* 헤더-네비게이션-카테고리별 */


/* 메인 */

.main-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 85%;
}

.border-line {
    position: absolute;
    top: 10px;

    width: 70%;
    height: 1px;
    background-color: rgb(180, 180, 180)
}

/* 메인-왼쪽 */
.main-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;

    background-color: red;
    margin: 50px 1% 0 1%;
}

.product-container {
    box-sizing: border-box;
    display: block;
    padding-left: 30%;
}

.product-img {
    max-width: 95%;
    height: auto;
}

/* 메인-오른쪽 */
.main-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;

    background-color: blue;
    margin: 50px 1% 0 1%;
}

/* 메인-오른쪽-제품정보 */
.product-information {
    width: 100%;
    box-sizing: border-box;
    background-color: yellowgreen;
}

.product-name {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 10px;
    color: black;
}

.product-explanation {
    font-size: 16px;
    margin: 20px 10px;
}

.product-price {
    font-size: 23px;
    font-weight: 600;
    margin: 70px 50px;
    color: #e94e33;
}

/* 메인-오른쪽-구매결정 */
.product-amount {
    width: 100%;
    box-sizing: border-box;
    background-color: aquamarine;
}

.button-minus {
    
}

.button-amount {

}

.button-plus {

}

.product-amount-price {

}

.product-decision-container {

}

.product-basket {

}

.product-purchase {

}