<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WorldMarket</title>
    <link rel="stylesheet" href="detail.css">
    <script src="detail.js" type="module"></script>

    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
</head>

<body>
<!-- 상단바 공용에서 만들어서 씀-->

<!-- 메인 컨텐츠 -->
<div class="main-container">
    <!-- border line
    <div class="border-line-container">
        <div class="border-line"></div>
    </div> -->
    <!-- 왼쪽 box -->
    <div class="sub-container">
        <div class="product-sub-container">
            <div class="product-img-container">
                <!-- <img src="/public/img/product-img/itemex01.jpg" class="product-img" /> 이하 더미요소는 JS렌더링으로 대체 -->
            </div>
        </div>
    <!-- 오른쪽 box -->
    <div class="product-main-container">
        <div class="product-text-container">
            <div class="product-name"></div>
            <div class="product-desc"></div>
            <div class="product-price"></div>
        </div>
        <div class="button-container">
            <div class="amount-title">수량</div>
            <div class="amount-button-container">
                <button class="button-minus">-</button>
                <div class="product-amount">1</div>
                <button class="button-plus">+</button>
                <div class="product-price-sum"><p>주문금액</p><p class="ordered-price"></p></div>
            </div>
        </div>
        <div class="deliveryfee-info">
            ※ 상품 금액 50,000원 이상 부터는 배송비가 무료입니다.
          </div>

          <!-- border line
          <div class="border-line-container">
            <div class="border-line"></div>
          </div> -->

          <div class="order-container">
            <!-- <div class="button-sub-container">
              <a class="button-cart"><p>장바구니</p></a>
              <a href="/src/views/order" class="button-purchase"><p>바로구매</p></a>
            </div> 렌더로 만들어 쓸 예정 -->
          </div>
        </div>
      </div>
</div>
<!-- 하단바 공용에서 만들어서 씀-->
    <footer></footer>
</body>
</html>
