* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#262626;
}

.login-wrapper {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:350px;
    height:380px;
    top:30%;
    left:50%;
    margin: -175px 0px 0px -190px;
    margin-bottom: 20px;
}

.login-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:280px;
    margin-top:10px;
}

.login-text{
    text-indent: 10px;
    width:100%;
    height:40px;
    margin: 3px 0 3px 0 ;
    background-color:#FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.login-text:focus{
    outline: 1px solid #a8a8a8;
}

.login-text::placeholder{
    color:#8E8E8E;
}

.login-text::value{
    color:#262626;
}

.login-btn{
    width:100%;
    height:33px;
    margin: 10px 0 5px 0;
    color:white;
    background-color: #f6c74b;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.join{
    margin-top: 10px;
    color:#01376A;
    font-size: 13px;
}

.id-error {
    width: 100%;
    color: red;
    text-align: left;
    font-size: 12px;
    display: none;
}

.pw-error {
    width:100%;
    color: red;
    text-align: left;
    font-size: 12px;
    display: none;
}
