<!DOCTYPE html>
<html lang="kor">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link type="text/css" rel="stylesheet" href="login.css">
<script defer src="login.js" type="module"></script>
</head>
<body>
<div class="login-wrapper">
    <form class="login-form">
        <a href="/main/main.html"><img src="/public/img/WMlogo.png" alt="로고 이미지"></a>
        <input id="user-id" class="login-text" type="text" placeholder="아이디">
        <div id="id-error" name="id-error" class="id-error"></div>
        <input id="user-pw" class="login-text"type="password" placeholder="비밀번호">
        <div id="pw-error" name="pw-error" class="pw-error"></div>
        <button id="submit-btn" class="login-btn"type="button">로그인</button>
    </form>
    <a class="join" href="../join/join.html">아직 회원이 아니신가요?</a>
</div>
<div class="bottom-space"></div>
</body>
</html>
<!-- dd -->

