<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cart_style.css">
    <script src="cart_srcript.js"></script>

</head>
<body>
  <header class="top-bar"> <!-- 상단 바 및 헤더 부분 -->
  </header>
 <main><!-- 제품 리스트, 가격, 합계 -->
  <header class="title">
    <h2>MY CART</h2>
    
  </header>
  <section class="product-tap"> <!-- 선택상품 리스트 -->
    <p class="delete_btn deleteAll">Delete All</p>
    <div class="product-list container">
      <div class="product-img item">
        <a href="">
        </a>
      </div>
      <div class="product-name item">
        <p>제품명</p>
        <p class="delete_btn">Delete</p>
      </div>
      <div class="product-info item">
        <ul>
          <li id="product-quan">수량</li>
          <li id="product-price">가격</li>
          <li id="product-del">배송비</li>
        </ul>
      </div>
    </div>
    <div class="price container">
      
      <div class="blank"></div>
      
      <div class="price-info item">
        <ul>
          <li>가격</li>
          <li>배송비</li>
        </ul></div>
    </div>
    <div class="total container">
      <div class="blank"></div>
    
      <div class="total-info item">
        <p>합계</p>
      </div>
    </div>
  </section>
  <footer class="payment-tap container">
    <div class="blank"></div>
      <div class="payment_btn item">
        <button>결제페이지로</button>
        <button><a href="">shop 페이지로 </a></button>
        <button>NAVER BTN</button>
      </div>
    </div>
    
  </footer>

 </main>
 <footer class="shop-info"><!-- 쇼핑몰하단정보 -->

 </footer>   
</body>
</html>