<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cart_style.css">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <script defer src="cart_srcript.js" type="module"></script>
  <title>WorldMarket</title>
</head>
<body>

  <!-- 공통 -->
  <!-- <header><button class="btn">테스트버튼
  </button></header> -->

  <main>
    <main-cotainer class="main-cotainer">
    <header class="cart__header">
      <div class="cart__title">MY CART</div>
      <button class="btn__default all__del" id="all__delete"> All Delete</button>
    </header>
    <!-- 카트가 비어있을 때(기본값) -->
    <section class="cart__detail__empty" id="cart__empty">
      <div class="cart__body__empty">
         장바구니가 비었습니다!
      </div>
      <div class="cart__footer__empty">
        <button class="shopping__page__btn empty__btn btn__default">쇼핑페이지로</button>
      </div>
    </section>

    <!-- 카트 안에 물건이 있을 때 -->
    <section class="cart__detail">
      <div id="cart__have__product">
        <!-- 삽입되어야하는 부분 -->
        <!-- <div class="cart__product__list"> -->
          <!-- <div class="list__img__block"> -->
            <!-- <a href="#none"><img id="product__img" src="" alt="sss"></a> -->
          <!-- </div> -->
          <!-- <div class="list__name__block"> -->
            <!-- 상품정보 파트 -->
            <!-- <span id="product__name">product name</span> -->
            <!-- <button class="btn__defalut" id="select__delete"> Delete</button> -->
          <!-- </div> -->
          <!-- <div class="list__info__block"> -->
            <!-- 수량 및 가격 -->
            <!-- <div class="product__quan"> -->
              <!-- <span>수량:</span> -->
              <!-- <button class="btn__default" id="minus__btn">-</button> -->
              <!-- <span id="quan__num">1</span> -->
              <!-- <button class="btn__default" id="plus__btn">+</button> -->
            <!-- </div> -->
            <!-- <div class="product__price"> -->
              <!-- <span>가격</span> -->
              <!-- <span id="product__price__num">20,000</span> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- 요까지 -->
      </div>
        
        <div class="cart__order__list">
          <div class="blank"></div>

          <div class="list__total">
            
            <div class="total__price__block">
              <div class="order__price">
                <span>가격:</span>
                <span id="order__price__num"></span>  
              </div>
                
              <div id="deli__price">
                <span>배송비:</span>
                <span id="deli__price__num"> 2,500</span>
              </div>
            
              <div class="total__price__line"></div>
              <div class="total__price__text">
                <span>총합:</span>
                <span id="total__price__num"></span>
              </div>
              <div class="total__price__line"></div>
            </div>

            <div class="cart__footer">
              <button class="shopping__page__btn btn__default">메인페이지로</button>
              <button class="order__page__btn btn__default">결제페이지로</button>
            </div>

          </div>

        </div>       
          

    </section>
  </main-cotainer>

    
  
  </main>
  <!-- 공통 -->
  <footer></footer>
</body>
</html>